<div style="padding-top: 40px; padding-bottom: 40px">
  <div class="o-grid-row" data-o-grid-colspan="center 10">
    <div
      style="display: flex; justify-content: space-between;"
      class="o-buttons-pagination"
    >
      {{> paginationLinks }}
    </div>
  </div>
</div>
